/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}



.grid {
  background: RGBA(31, 110, 147, 1);
  max-width: 750px;
  padding-top: 55px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: RGBA(245, 245, 245, .5);
  /*border: 1px solid RGBA(25, 109, 149, 1);*/
  border-color: RGBA(25, 109, 149, 1);
  border-radius: 1px;
  margin-bottom: 12px;
}

/*.grid-item--width2 { width:  320px; }
.grid-item--width3 { width:  480px; }
.grid-item--width4 { width:  720px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }*/

/* ---- static-banner ---- */

.key  {
  position: absolute;
  left: 5px;
  top: 0px;
  padding: 5px 3px;
  font-size: 22px;
  z-index: 2;

}

.key-2  {
  position: absolute;
  left: 100px;
  top: 0px;
  padding: 5px 5px;
  font-size: 22px;
  z-index: 2;

}

.key-3  {
  position: absolute;
  left: 160px;
  top: 0px;
  padding: 5px 5px;
  font-size: 22px;
  z-index: 2;

}




*/

.masonry-div  {
  max-width: 600px;

}

.codeacademy-logo {
  padding-top: 40px;
}

.sitepoint-logo {
  padding-top: 5px;
}

.pluralsight-logo {
  padding-top: 50px;
}

.book {
  padding-top: 25px;
  background-color: RGBA(48, 174, 34, 1);
}

.sites  {
  padding-top: 30px;
  background-color: RGBA(239, 59, 79, 1);
}

.webcourse  {
  background-color: RGBA(239, 131, 23, 1);
}

/*Button Styles*/

/*books button*/

.btn-custom-darken.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-darken {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b9d1f;
  background-image: -moz-linear-gradient(top, #30ae22, #24831a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#30ae22), to(#24831a));
  background-image: -webkit-linear-gradient(top, #30ae22, #24831a);
  background-image: -o-linear-gradient(top, #30ae22, #24831a);
  background-image: linear-gradient(to bottom, #30ae22, #24831a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff30ae22', endColorstr='#ff24831a', GradientType=0);
  border-color: #24831a #24831a #13430d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #24831a;

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-darken:hover,
.btn-custom-darken:focus,
.btn-custom-darken:active,
.btn-custom-darken.active,
.btn-custom-darken.disabled,
.btn-custom-darken[disabled] {
  color: #ffffff;
  background-color: #24831a;
  *background-color: #1e6e15;
}
.btn-custom-darken:active,
.btn-custom-darken.active {
  background-color: #185911 ;
}

/*sites button*/

.btn-custom-spin.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-spin {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ef3f47;
  background-image: -moz-linear-gradient(top, #ef3b4f, #ef453b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef3b4f), to(#ef453b));
  background-image: -webkit-linear-gradient(top, #ef3b4f, #ef453b);
  background-image: -o-linear-gradient(top, #ef3b4f, #ef453b);
  background-image: linear-gradient(to bottom, #ef3b4f, #ef453b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffef3b4f', endColorstr='#ffef453b', GradientType=0);
  border-color: #ef453b #ef453b #cd1b11;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ef453b;

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-spin:hover,
.btn-custom-spin:focus,
.btn-custom-spin:active,
.btn-custom-spin.active,
.btn-custom-spin.disabled,
.btn-custom-spin[disabled] {
  color: #ffffff;
  background-color: #ef453b;
  *background-color: #ed2f23;
}
.btn-custom-spin:active,
.btn-custom-spin.active {
  background-color: #e41e13 ;
}




/*web courses button */

.btn-custom-lighten.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-lighten {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f08d2a;
  background-image: -moz-linear-gradient(top, #ef8317, #f29c47);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef8317), to(#f29c47));
  background-image: -webkit-linear-gradient(top, #ef8317, #f29c47);
  background-image: -o-linear-gradient(top, #ef8317, #f29c47);
  background-image: linear-gradient(to bottom, #ef8317, #f29c47);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffef8317', endColorstr='#fff29c47', GradientType=0);
  border-color: #f29c47 #f29c47 #dd760f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f29c47;

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-lighten:hover,
.btn-custom-lighten:focus,
.btn-custom-lighten:active,
.btn-custom-lighten.active,
.btn-custom-lighten.disabled,
.btn-custom-lighten[disabled] {
  color: #ffffff;
  background-color: #f29c47;
  *background-color: #f1902f;
}
.btn-custom-lighten:active,
.btn-custom-lighten.active {
  background-color: #ef8317 ;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: RGBA(31, 110, 147, 1);
  font-family: 'Open Sans', sans-serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.5);
          box-shadow: inset 0 0 30px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

 .masthead  {

   padding-bottom: 20px;

 }

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.cover-heading  {
  padding-bottom: 30px;
}

/*
 * Footer
 */

.mastfoot {
  color: #999;
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    /*position: fixed;*/
    top: 0;
  }
  .mastfoot {
    /*position: fixed;*/
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    /*vertical-align: middle;*/
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }

}

@media (min-width: 1200px)  {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
.container {
    width: 750px;
  }
}

@media (min-width: 768px) {
.container {
    width: 750px;
  }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
